<!-- views/partials/filters.ejs -->
<aside class="filters-sidebar">
  <div class="filters-container">
    <h3>
      Filters
      <button class="clear-all">Clear All</button>
    </h3>

    <div class="filter-section">
      <h4>Mode of Consult</h4>
      <div class="checkbox-group">
        <label>
          <input
            type="checkbox"
            name="consultMode"
            value="Hospital Visit"
            class="filter-checkbox"
          />
          Hospital Visit
        </label>
        <label>
          <input
            type="checkbox"
            name="consultMode"
            value="Online Consult"
            class="filter-checkbox"
          />
          Online Consult
        </label>
      </div>
    </div>

    <div class="filter-section">
      <h4>Experience (In Years)</h4>
      <div class="checkbox-group">
        <label>
          <input
            type="checkbox"
            name="experience"
            value="0-5"
            class="filter-checkbox"
          />
          0-5
        </label>
        <label>
          <input
            type="checkbox"
            name="experience"
            value="6-10"
            class="filter-checkbox"
          />
          6-10
        </label>
        <label>
          <input
            type="checkbox"
            name="experience"
            value="11-16"
            class="filter-checkbox"
          />
          11-16
        </label>
        <label>
          <input
            type="checkbox"
            name="experience"
            value="16+"
            class="filter-checkbox"
          />
          16+
        </label>
      </div>
    </div>

    <div class="filter-section">
      <h4>Fees (In Rupees)</h4>
      <div class="checkbox-group">
        <label>
          <input
            type="checkbox"
            name="fees"
            value="100-500"
            class="filter-checkbox"
          />
          100-500
        </label>
        <label>
          <input
            type="checkbox"
            name="fees"
            value="500-1000"
            class="filter-checkbox"
          />
          500-1000
        </label>
        <label>
          <input
            type="checkbox"
            name="fees"
            value="1000+"
            class="filter-checkbox"
          />
          1000+
        </label>
      </div>
    </div>

    <div class="filter-section">
      <h4>Language</h4>
      <div class="checkbox-group">
        <label>
          <input
            type="checkbox"
            name="language"
            value="English"
            class="filter-checkbox"
          />
          English
        </label>
        <label>
          <input
            type="checkbox"
            name="language"
            value="Hindi"
            class="filter-checkbox"
          />
          Hindi
        </label>
        <label>
          <input
            type="checkbox"
            name="language"
            value="Tamil"
            class="filter-checkbox"
          />
          Tamil
        </label>
        <label>
          <input
            type="checkbox"
            name="language"
            value="Telugu"
            class="filter-checkbox"
          />
          Telugu
        </label>
      </div>
    </div>

    <div class="filter-section">
      <h4>Gender</h4>
      <div class="checkbox-group">
        <label>
          <input
            type="checkbox"
            name="gender"
            value="Male"
            class="filter-checkbox"
          />
          Male
        </label>
        <label>
          <input
            type="checkbox"
            name="gender"
            value="Female"
            class="filter-checkbox"
          />
          Female
        </label>
      </div>
    </div>
  </div>
</aside>
